<script type="text/javascript">

$(document).ready(function() {  
  $("#forgot_password_no_email_close_button").live('click', function(){
    $.fancybox.close();
  });
});

</script>

<div class="popUp_wrapper">
  <div class="popUp_header">
    Forgot Password
  </div>

  <div class="popUpContent">
    <div class="popUpText larger_gray">
      <span>Sorry, this postif page was created</span><br/>
      <span>without either an email address or</span><br/>
      <span>password. So we have no way</span><br/>
      <span>to send you the password.</span><br/>
    </div>
    
    <br/>
    
    <div class="popUpText normal_gray">
      <span>See instructions on</span><br/>
      <span>this page for opening the postif</span><br/>
      <span>page as Read-Only ... to make</span><br/>
      <span>a copy you can edit.</span><br/>
    </div>
    
    <br/>
    
    <div class="popUpButtonDiv">
      <button type="button" id="forgot_password_no_email_close_button" class="blue_button">Close</button>
    </div> 
  </div>

</div>
