<script type="text/javascript">

$(document).ready(function() {  
  $("#forgot_password_close_button").live('click', function(){
    $.fancybox.close();
  });
});

</script>

<div class="popUp_wrapper">
  <div class="popUp_header">
    Forgot Password
  </div>

  <div class="popUpContent">
    <div class="popUpText larger_gray">
      <span>The password has been emailed</span><br/>
      <span>to the email address associated</span><br/>
      <span>with this postif page.</span><br/>
    </div>
    
    <br/>
    
    <div class="popUpText normal_gray">
      <span>If you don't have access to that</span><br/>
      <span>email account, see instructions on</span><br/>
      <span>this page for opening the postif</span><br/>
      <span>page as Read-Only ... to make</span><br/>
      <span>a copy you can edit.</span><br/>
    </div>
    
    <br/>
    
    <div class="popUpButtonDiv">
      <button type="button" id="forgot_password_close_button" class="blue_button">Close</button>
    </div> 
  </div>

</div>
