body{
 background-color:gray;
 font-family:Arial, Helvetica, sans-serif;
}

h1{
  padding:0;
  margin:0;
}

a{
  color:#3D85C6;
  text-decoration:none;
}

a:hover{
  color:#62A0D9;
}

textarea{
 resize: none;	
}

.center{
  text-align:center;	
}

#container{
  width:905px;
  margin: 0 auto;
  text-align:center;
}

#can{
  background-color:white;
  cursor: crosshair;
  border:black solid 1px;
}

#clr div{
  cursor:pointer;
  cursor:hand;
  width:20px;
  height:20px;
  margin:2px -2px 0 -2px;
  padding:0;
  border:none;
  display:inline-block;
  vertical-align:top;
}

#clr div.color_selected{
  border:2px dashed white;
  margin-top:0;
}

#line_size{
  width:30px; 
  margin-left:5px;
}

.buttons div{
  font-size:20px;
  text-decoration:none;
  background-color:#4CA64C;
  color:#fff;
  padding:5px;
  display:inline-block;
}
 
.buttons div:hover{
  cursor:pointer;  
  background-color:#24A624;	 
}

div.button_selected{
  background-color:#24A624;
}
 
 .wrapper{
  overflow:auto;
 }
 
 
/****************     FancyBox    ****************/
#fancybox-wrap {
  position: absolute;
  top: 10px !important;
} 
/****************     End FancyBox    ****************/
 
 
.highlighted{
  background-color:#A4E63A;
}

.help_header{
  display:inline-block;	
}

.help_search{
  display:inline-block; 
  float:right; 
  margin-top:6px;
  vertical-align:middle;
  color:#444;
}

.search_help{
  width:75px;
  height:20px;
  border:1px solid #444;
  vertical-align:middle;
  font-size:10px; 
  
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
}

.arrow{
  vertical-align:middle;
  padding:0 1px;	
}

/****************     Home    ****************/
 
.home_wrapper{
  width:750px;	 
  overflow-y: scroll;
  border:2px solid #7E9C3F;
  margin:0px;
}
 
.navigation, .navigation_layout{
  background-color: #A4E63A;
  border-bottom:1px solid #7E9C3F;
  padding:10px;
}
 
.navigation_layout{
  border:1px solid #7E9C3F;
  overflow:auto;
}

.sticky_nav{
  position:absolute;
  width:715px;
}

 .navigation a, .navigation_layout a{
   font-size:20px;	
   color:#7A3F15;
   padding: 0 5px 0 5px;
   text-decoration:none;
 }
 
 a.selected{
   font-weight:600;	 
   font-size:25px;
 }
 
 .postif_logo_div{
   text-align:center;
   margin: 0 0 50px 0;
 }
 
 .text_wrapper{
   text-align:center;	 
 }
 
 .text_wrapper div{
   margin: 20px 0;	 
 }
 
 .green{
   color:#668A3A;	 
 }
 
 .red{
   color:#783F00;	 
 }
 
 .text_top{
   font-size:23px;
   font-weight:200;
 }
 
 .text_middle{
   font-size:26px;
   font-weight:200;
}
 
.watch_youtube{
   text-align:center;
   margin: 50px 0;
}
 
.create_a_page_div{
   text-align:center;
   margin: 50px 0;
}

.create_a_page_button:hover{
  cursor:pointer;
}

.text_bottom{
   font-size:32px;
   font-weight:600;
   font-style:italic;
}
 
 .tell_friends{
   margin:20px 20px 5px 20px;
   font-size:14px;
   color:#78B4FF;
   font-weight:300;
   font-style:italic;
 }

 .tell_friends img{
  vertical-align:middle;
  margin:0 2px;
 }

 img#subscribe{
   float:right;	 
   margin-right:30px;
 }
 
 img#twitter_follow_us{
   float:right;	 
 }
 
.footer{
   background-color: #A4E63A;
   border-top:1px solid #7E9C3F;
   padding:7px;
   text-align:center;
   color:#868F72;
   font-size:12px;
 }
 
.fb_nav{
  padding:5px 15px;
  margin-top:106px;  	 
}

.fb_nav_header{
  padding:2px 0;
  border-bottom: 1px solid #668A3A;
  position:absolute;
  top:58px;
  background-color:#FFFFFF;
  width:705px;
}

.section{
  padding:10px 0;	
}

.section h1{
   font-size:22px;
   font-weight:600;
}


.larger_gray, .normal_gray{
  color: #666666;
}

.larger_gray{
  font-size: 18px;
}

.normal_gray{
  font-size: 16px;
}

.indented{
  font-weight:bold;
  width:75%;
  margin:0 auto;
}

.indented_notes{
  font-size:14px;
  font-style:italic;
  width:75%;
  margin:0 auto;
}

.orange{
  color:#E69138;
}

.example{
  font-size:16px;
  color:#3D85C6;
  display:none;
}

.toggle_example_button{
  color:#3D85C6;
}

.toggle_example_button:hover{
  color:#62A0D9;
  cursor:pointer;
}

/*****     About Postif    *****/ 



/**     About Postif - postif:  The fastest, easiest way to create and share stuff online!    **/ 

.postif_about_desc{
  font-size: 16px;
  list-style-type: none;
  color: #948A53;
  margin-left:30px;
  font-weight:bold;
}

.postif_about_desc li{
}

/**     About Postif - postif:  The fastest, easiest way to create and share stuff online!    **/ 



/**     About Postif - What is postif?    **/ 

.postif_video{
  text-align:center;	
}

.postif_video iframe{
  border: 1px solid #AAA;
  padding:5px;
}

/**     End About Postif - What is postif?    **/ 




/**     About Postif - Contact Us    **/ 
.contact_us_table{
	
}

.contact_us_table tr td{
  vertical-align: top;
}

.contact_us_table tr td:first-child{
  width:200px;   	
}

/**     End About Postif - Contact Us    **/ 


/*****     End About Postif    *****/ 

 
/****************     End Home    ****************/ 




/****************     users/_subscribe.html.erb    ****************/ 

.subscribe_wrapper{
  text-align:center;
  margin:20px;
}

.subscribe_email_textfield{
  width:270px;	
  height:30px;
  font-size:13px;
  border:1px solid #C9C9C9;
  padding: 0 5px 0 5px;
  outline: none;
  
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
}

/****************     End users/_subscribe.html.erb    ****************/ 


/****************     feedbacks/_submitFeedback.html.erb    ****************/ 

.feedback_survey{
  text-align:center;
  margin-top:20px;
}

.feedback_form_wrapper{
  border:1px solid #AAA;
  padding:15px 15px 7px 15px;
  font-size:14px;
  
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%,#eeeeee 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%,#eeeeee 100%); /* IE10+ */
  background: linear-gradient(top, #ffffff 0%,#eeeeee 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
  
}

.feedback_label_wrapper{
  color: #5E81C1;
  margin:3px 3px 3px 7px;
  vertical-align:top;
}

img.asterisk{
  vertical-align:top;
}

.standard_field{
  border:1px solid #CCC;
  padding: 5px 0 5px 5px;
}

.feedback_name_field{  
  width:50%;
}

.feedback_subject_field{
  width:100%;	
}

.feedback_message_field{
  width:100%;
  height:100px;
}

.feedback_submit_wrapper{
  text-align:right;	
}

.feedback_submit_wrapper button{
  font-size:14px;
  padding:4px 25px;
  margin:2px 5px;
  border:1px solid #5E81C1;
  color:#333;
  
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  -khtml-border-radius: 9px;
  border-radius: 9px;
  
  background: #EAF6FF; /* Old browsers */
  background: -moz-linear-gradient(top, #EAF6FF 0%, #91BFE2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EAF6FF), color-stop(100%,#91BFE2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #EAF6FF 0%,#91BFE2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #EAF6FF 0%,#91BFE2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #EAF6FF 0%,#91BFE2 100%); /* IE10+ */
  background: linear-gradient(top, #EAF6FF 0%,#91BFE2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EAF6FF', endColorstr='#91BFE2',GradientType=0 ); /* IE6-9 */
}

.feedback_submit_wrapper button:hover{
  cursor:pointer;
  border:1px solid #1352BF;	
}

.single_feedback_wrapper{
  margin: 15px 0 10px 0;
}

.bubble_div{
  display:inline-block;	
  vertical-align:top;
  padding: 10px 5px 0 5px;
}

.single_feedback_desc{
  display:inline-block;	
}

.single_feedback_name{
  color:#54A6E5;
  font-weight:bold;	
}

.single_feedback_subject{
  font-weight:bold;
}

.single_feedback_message{
  margin-top:5px;
}

.single_feedback_date{
  color:#888;
  font-size:11px;
}



/****************     End feedbacks/_submitFeedback.html.erb    ****************/ 



/****************     emails/_submitFeedback.html.erb    ****************/ 

.email_form_wrapper{
  border:1px solid #AAA;
  padding:15px 15px 7px 15px;
  font-size:14px;
  margin-top:20px;
  
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%,#eeeeee 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%,#eeeeee 100%); /* IE10+ */
  background: linear-gradient(top, #ffffff 0%,#eeeeee 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
  
}

.email_label_wrapper{
  color: #5E81C1;
  margin:3px 3px 3px 7px;
  vertical-align:top;
}

.email_cc{
  color: #5E81C1;
  font-size:10px;
}


.email_field{  
  width:50%;
}

.email_subject_field{
  width:100%;	
}

.email_message_field{
  width:100%;
  height:100px;
}

.email_submit_wrapper{
  text-align:right;	
}

.email_submit_wrapper button, .subscribe_submit_email_wrapper button{
  font-size:14px;
  padding:4px 25px;
  margin:2px 5px;
  border:1px solid #5E81C1;
  color:#333;
  
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  -khtml-border-radius: 9px;
  border-radius: 9px;
  
  background: #EAF6FF; /* Old browsers */
  background: -moz-linear-gradient(top, #EAF6FF 0%, #91BFE2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EAF6FF), color-stop(100%,#91BFE2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #EAF6FF 0%,#91BFE2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #EAF6FF 0%,#91BFE2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #EAF6FF 0%,#91BFE2 100%); /* IE10+ */
  background: linear-gradient(top, #EAF6FF 0%,#91BFE2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EAF6FF', endColorstr='#91BFE2',GradientType=0 ); /* IE6-9 */
}

.email_submit_wrapper button:hover{
  cursor:pointer;
  border:1px solid #1352BF;	
}

/****************     end emails/_submitFeedback.html.erb    ****************/ 


 