<div class="subscribe_wrapper">
  <div class="subscribe_email_div">
    <%= text_field_tag :email, '', :class => 'subscribe_email_textfield', :id => 'subscribe_email_textfield_id', :placeholder => 'Enter Your Email Address To Receive Future Updates' %>
  </div>
  <div class="subscribe_submit_email_wrapper">
    <button type="button" id="subscribe_submit_email" class="subscribe_submit_email_button">Submit Email</button>
  </div>  
  <div class="subscribe_warning_message_div red">&nbsp</div>
</div>
