<div class="admin_panel_wrapper common_border">
  <h1 class="red">Admin Panel</h1>

  <div class="admin_panel_options_wrapper">
    <span><%= link_to 'Postif Pages', posts_path() %></span><br/>
    <span><%= link_to 'Email List', users_path() %></span><br/>
    <span><%= link_to 'Feedback', feedbacks_path() %></span><br/>
  </div>
  
</div>
