<div class="user_index_wrapper common_border">
<h1 class="red">Listing users</h1>

<div>
<% @users.each do |user| %>
  <%= user.email %>, 
<% end %>
</div>

<br/>
<div>
  <%= link_to 'Admin Panel', admin_panel_path() %>
</div>


</div>
