<div>
  <%= render 'shared/iPaint_canvas' %>
</div>


<script type="text/javascript">
 
window.onload = function(){
   var h = 950;
   var w = 1200;
   
  
   
   if ( null != s ){
   	  p = s.split(" :!: ");
   	  for(i = 0; i < p.length-1; i++){
   	  	  myApp.restoreStorage(p[i], callback);
      	  }  
   }
};

</script>


