<div>
  <%= form_tag search_post_path, :method => 'get', :id => "search_post" do %>
  <div>
    <%= text_field_tag :search, params[:search], :id => 'post_url' %>
    <span id="url_ok"></span>
  </div>
  <% end %>
</div>
<div>
  <%= render 'shared/iPaint_canvas' %>
</div>


