<div class="popUp_wrapper">
<script type="text/javascript">

$(document).ready(function() {  
  
  parent_url = top.window.$('#post_url').val();
  var full_url = 'www.postif.com/' + parent_url;
  
  $('#url_span').val(full_url).width(((full_url.length*14)) + "px");
	
  $("#close_button").live('click', function(){
    $.fancybox.close();
  });
  
  $('#url_span').keydown(function(e){
    e.preventDefault();
  });
  
});

</script>
  
  <div class="popUp_header">
    Post Page
  </div>

  <div class="popUpContent">
    <div class="popUpText normal_gray">
      <span><b>Here is your page!</b></span><br/>
      <span><b>It has posted successfully</b></span><br/>
      <br/>
      <span>It is on the internet and viewable</span><br/>
      <span>by anyone who has the link</span><br/>
      <br/>
      <span>Use the share buttons at the bottom of</span><br/>
      <span>your page to send the link to people</span><br/>
      <br/>
      <span>Or simply copy the link and paste it</span><br/>
      <span>in an email, tweet or wherever!</span><br/>
      
      <div class="post_border">
        <span>The link for your page is...</span></br>
        <span class="very_large_green"><input type="text" id="url_span" style="width:100%;border:none;" class="very_large_green"></span>
      </div>
    </div>
    
    <div class="popUpButtonDiv">
      <button type="button" id="close_button" class="blue_button">Close</button>
    </div> 
  </div>

</div>
