<div class="popUp_wrapper">
<script type="text/javascript">

$(document).ready(function() {  
  $("#cancel_button").live('click', function(){
    $.fancybox.close();
  });
  
});

</script>
  
  <div class="popUp_header">
    Post Page
  </div>

  <div class="popUpContent">
    <div class="popUpText normal_gray">
      
    </div>
    
    <div class="popUpButtonDiv">
      <button type="button" id="cancel_button" class="blue_button">Cancel</button>
    </div> 
  </div>

</div>
