<div id="content-container" class="clearfix">
<%= form_tag :controller => :posts, :action => "check_secret" do %>
  <h2>Secret</h2>
  <p>You must know the secret to get in.</p>
  <%= password_field_tag :secret %>
  <%= submit_tag "Check" %>
<% end %>
</div>