<html>
<head>

</head>

<body>

<%= @email.message %>

<br/><br/>
<br/><br/>

<table style='text-align:center; color:#668A3A;'>
  <tr>
    <td>"Got something you need to share?</td>
  </tr>
  <tr>
    <td>Instantly create a page on the web</td>
  </tr>
  <tr>
    <td>with a link to share it!"</td>
  </tr>
  <tr>
  <td><%= link_to image_tag('http://www.postif.com/images/logo.png'), 'http://www.postif.com' %></td>
  </tr>
</table>

</body>
</html>
