<html>
<head>

</head>

<body>
Mark,<br/><br/>

You got a new email from postif. It is from <%= @email.from %> and it is being sent to <%= @email.to %>.

<br/><br/>

<b>Subject:</b> <%= @email.subject %>

<br/><br/>

<b>Message:</b><br/> 
<%= @email.message %>

</body>
</html>
