<html>
<head>

</head>

<body>


<div class="report_on_paper" style=" width:800px;border:1px solid black;background-color:white;margin-right:auto;margin-left:auto;margin-top:40px;padding:20px;">

<div style="text-align:center;font-weight:bold;font-size:25px;">Password Reset Instructions for www.postif.com/<%= @post.url %></div><br/>

<div>To reset your password for your postif page, click the Link below.</div><br/>

<div style="color:#c01400;font-size:1.25em;margin:9px 0px;text-shadow: 0 1px 1px rgba(0, 0, 0, .5);"><%= link_to 'Click Here to reset your password', "http://www.postif.com/password_resets/" + @post.password_reset_token + "/edit" %></div><br/>

<div>If you did not request your password to be reset, just ignore this email and your password will continue to stay the same.</div><br/>


<br/><br/>

<table style='text-align:center; color:#668A3A;'>
  <tr>
    <td>"Got something you need to share?</td>
  </tr>
  <tr>
    <td>Instantly create a page on the web</td>
  </tr>
  <tr>
    <td>with a link to share it!"</td>
  </tr>
  <tr>
  <td><%= link_to image_tag('http://www.postif.com/images/logo.png'), 'http://www.postif.com' %></td>
  </tr>
</table>

</body>
</html>
